@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;900&display=swap');

@font-face {
  font-family: 'Fira Black';
  src: url("../fonts/FiraSans-Black.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  color: #777;
}

html, body {
  margin: 0;
  padding: 0;
}

/*******************************************************************************
Navigation
*******************************************************************************/

.nav ul {
  margin: 0;
}

.nav li  {
  display: inline;
}

.nav a  {
  display: inline-block;
  padding: 0.5cm;
  text-decoration: none;
}

.nav a:hover  {
  background-color: rgba(255, 255, 255, 0.3);
}

/*******************************************************************************
Main top navigation
*******************************************************************************/

.main-nav  {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav a  {
  color: white;
}

/*******************************************************************************
Headers and title
*******************************************************************************/
.title {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: 'Fira Black';
  font-weight: normal;
  color: rgb(219, 0, 0);
}

.title-large  {
  font-size: 7em;
}

.main_header {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../images/Gallery/2022-10-19/_DSC0019.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
  
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  
}

/*******************************************************************************
Content sections and stuff
*******************************************************************************/

.content-section  {
  margin: 1em;
}

.content-section p {
  font-size: 1.25em;
}

.container  {
  max-width: 50vw;
  margin: auto;
  padding: auto;
}

.section-header  {
  font-size: 2.5em;
  font-weight: normal;
  color: #333;
  text-align: center;
}


/*******************************************************************************
Gallery section
*******************************************************************************/

.gallery_section  {
  width: 50vw;
  height: auto;
  border: 15px solid green;
  padding: 10%;
  margin: auto;
  text-align: center;
  
}

.gallery_section  p2  {
  color:black;
}

.gallery_image  {
  float: left;
  width: 35vw;
  margin: 2.5vw;
}

/*******************************************************************************
Footer stuff
*******************************************************************************/

.main-footer  {
  background-color: rgb(33, 36, 34);
  color: white;
}

.main-footer-container  {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1
}

.footer-nav li {
  padding: 0, .5em;
  float: right;
}

/*******************************************************************************
About section
*******************************************************************************/

.about  {
  background-color: rgb(255, 255, 255);
}

.about p  {
  color: rgb(0, 0, 0);
}

.about-sect-img  {
  float: left;
  width: 20vw;
  margin: 1%;
}

/*******************************************************************************
Projects
*******************************************************************************/

.projects-nav  {
  text-align: left;
}

.projects-nav ul  {
  margin: 2.5%;
}

.projects-nav li  {
  display: block;
}

.projects-nav a  {
  display: block;
  padding: 2.5%;
  text-decoration: none;
  color: black
}

.projects-nav a:hover  {
  background-color: rgba(0, 0, 0, 0.1);
}
