@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;900&display=swap');

@font-face {
  font-family: 'Fira Black';
  src: url("../fonts/FiraSans-Black.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  color: #777;
}

html, body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li  {
  display: inline
}

.nav a  {
  display: inline-block;
  padding: 0.5cm;
  color: white;
  text-decoration: none;
}

.nav a:hover  {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav  {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.title {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: 'Fira Black';
  font-weight: normal;
  color: white;
}

.title-large  {
  font-size: 9em;
}

.main_header {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../images/bubbletea_placeholder.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}

.content-section  {
  margin: 1em;
}

.content-section p {
  font-size: 1.5em;
}

.container  {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header  {
  font-size: 2.5em;
  font-weight: normal;
  color: #333;
}

.about-sect-img  {
  float: right;
  width: 300px;
  margin: 3px;
}

.main-footer  {
  background-color: darkseagreen;
  color: white;
}

.main-footer-container  {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1
}

.footer-nav li {
  padding: 0, .5em;
  float: right;
}

